<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <style type="text/css">

		body{
		    background-color: lightcyan ;
		    margin: 0;
	        padding:0;
	        background: url(/static/images/background.jpeg);
	        background-size: cover;
	        background-position: center;
	        font-family:sans-serif;
			}
		h1{
			color: white;
			font-family: bold;
			font-size: 25;
		}
		a{
			color: green;
			font-family: fantasy;
			font-size: 20;
		}
		</style>
</head>
<body style="background-color:lightgreen;">

<form action="/Adminlogin" method="Post">
    <h1>Enter Login Credentials</h1>
    <p>Admin ID</p>
    <input type="text" name="aid">

    <p>password</p>
    <input type="password" name="pass">
    <br>
    <br>
    <input type="submit" name="ssubmit">
    <br><br>

</form>
</div>
</body>

</html>